@model OptiShape.Models.StatistikeNapretka

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>StatistikeNapretka</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Datum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Datum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tezina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tezina)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bmi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bmi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KalorijskiUnos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KalorijskiUnos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Korisnik)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Korisnik.IdKorisnika)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdZapisa">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
