@model IEnumerable<OptiShape.Models.PlanIshraneTreninga>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DatumKreiranja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kalorije)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Protein)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ugljikohidrati)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Masti)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Korisnik)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DatumKreiranja)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kalorije)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Protein)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ugljikohidrati)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Masti)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Korisnik.IdKorisnika)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPlana">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdPlana">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPlana">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
