@model OptiShape.Models.Korisnik

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Korisnik</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prezime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prezime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sifra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sifra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatumRodjenja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatumRodjenja)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Visina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Visina)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tezina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tezina)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Spol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Spol)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cilj)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cilj)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentskiStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentskiStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BrojTelefona)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BrojTelefona)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdKorisnika" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
